os: linux

language: shell

services:
  - docker

env:
  HADOLINT: "${HOME}/hadolint"

install:
  - curl -sL -o ${HADOLINT} "https://github.com/hadolint/hadolint/releases/download/v1.17.5/hadolint-$(uname -s)-$(uname -m)"
  && chmod 700 ${HADOLINT}

script:
  - shellcheck scripts/*.sh
  - ${HADOLINT} Dockerfile
  - docker build -t jswny/dotfiles .