name: CI
on: [push]

jobs:
  custom-lint:
    name: Custom Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: scripts/lint.sh --debug scripts/*.sh
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@0.3.0
        with:
          check_together: 'yes'
  vint:
    name: Vint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - name: Install Vint
        run: pip install vim-vint
      - name: Run Vint
        run: vint nvim/*.vim
  json-lint:
    name: JSON Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - name: Install JSON Lint
        run: npm install -g jsonlint
      - name: Run JSON Lint
        run: jsonlint -q -c ***/*.json
  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: brpaz/hadolint-action@master
  setup-macos:
    name: Setup on MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run setup
        run: scripts/setup.sh --debug
  docker_build:
    name: Docker Build
    runs-on: ubuntu-latest
    if: ${{ github.ref != 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        with:
          repository: ${{ github.repository }}
          push: false
  docker_build_push:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    needs: [custom-lint, shellcheck, vint, json-lint, hadolint]
    if: ${{ github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tags') }}
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        with:
          repository: ${{ github.repository }}
          tag_with_ref: true
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
